{% if site.data.conf.main.color_scheme_dark and site.data.conf.main.color_scheme_switch_side_nav -%}
  {%- assign color_scheme_switch_enabled = true -%}
{%- endif -%}

{% if color_scheme_switch_enabled == true %}
  <div class="side-nav-bottom-buttons-container">
    <div >
      {%- if site.data.lang.size > 1 and site.data.conf.main.language_switch_lang_list.size > 1 %}
        {% include default/nav/lang-switch.html -%}
      {% endif %}
    </div>
    <br>
    <hr>
    <ul>
      {% if color_scheme_switch_enabled -%}
        <li>
          {%- include default/nav/color-scheme-switch.html switch_id="color_scheme_switch_side" effect=site.data.conf.main.side_nav_bottom_buttons_hover_effect -%}
        </li>
      {%- endif -%}
      </ul>
  </div>
{%- endif -%}
